.btn {
    display: inline-block;
    padding: 12px 22px;

    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    border: none; 
    border-radius: 5px;
    color: $blue;

    background-color: $blue-dim;
}

.btn:hover {
    color: $white;

    background-color: $blue;
}

.btn:active {
    color: $white;

    background-color: #a1c2f0;
}