.link {
  color: $white;
  opacity: 0.8;
  text-decoration: none;
}

.link--active {
  padding: 10px 19px;

  color: $white;
  opacity: 0.8;

  border: 1px solid $white;
  border-radius: 4px;
}

@media (min-width: $desktop-width) {
  .link--active:hover {
    color: $white;
    border-color: $blue;
    opacity: 1;
    border: 1px solid $white;
  }
  
  .link:hover {
    padding-bottom: 10px;
    color: $white;
    opacity: 1;
  }
  
  .link--footer:hover {
    border-bottom: 2px solid $dark-gray;
  }
}