$white: #ffffff;
$gray: #E3E9EC;
$light-gray: #F8F9FA;
$dark-gray: #5A657A;
$black: #242424;
$black-dim: #1F394E;
$blue-dim: #D8E8FE;
$blue: #3B85ED;
$dark-blue: rgb(72, 72, 228);
$yellow: #F7B422;
$green: #72C363;

$tablet-width: 768px;
$desktop-width: 1200px;
